extends layout 

block layout-content
  a(href="/") 
    //- https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/8/ca060c20-3c8d-44d6-b852-beaf3d0cf0a41652028231412-Handbags---Clutches_Desk.jpg
    img(src="/images/handbagAndClutches.webp")#main-image
  h4 DEAL OF THE DAY
  #offers 
    ul 
      li
        .list-item-container
          a(href="/") 
            //- https://www.myntra.com/handbags/allen-solly/allen-solly-tan-pu-structured-shoulder-bag/17246622/buy
            img(src="/images/bag1.webp", alt="")
            p.item-title Allen Solly
            p.item-description PU Structured Shoulder Bag
            p.item-rate $102 
              span.old-price $200
              span.discount  (35% OFF)
      li 
        .list-item-container
          a(href="/")
            //- https://www.myntra.com/handbags/allen-solly/allen-solly-green-pu-structured-sling-bag/17630362/buy
            img(src="/images/bag2.webp", alt="")
            p.item-title Allen Solly
            p.item-description PU Structured Shoulder Bag
            p.item-rate $89 
              span.old-price $130
              span.discount  (20% OFF)
      li 
        .list-item-container
          a(href="/")
            //- https://www.myntra.com/handbags/allen-solly/allen-solly-women-black-solid-handheld-bag/17630392/buy
            img(src="/images/bag3.webp", alt="")
            p.item-title Allen Solly
            p.item-description PU Structured Shoulder Bag
            p.item-rate $89 
              span.old-price $130
              span.discount  (20% OFF)
      li 
        .list-item-container
          a(href="/")
            //- https://www.myntra.com/handbags/allen-solly/allen-solly-salmon-pink-solid-pu-regular-structured-handheld-bag/17246644/buy
            img(src="/images/bag4.webp", alt="")
            p.item-title Allen Solly
            p.item-description PU Structured Shoulder Bag
            p.item-rate $89 
              span.old-price $130
              span.discount  (20% OFF)
      li 
        .list-item-container
          //- https://www.myntra.com/handbags/allen-solly/allen-solly-grey-textured-structured-sling-bag/17630450/buy
          a(href="/")
            img(src="/images/bag5.webp", alt="")
            p.item-title Allen Solly
            p.item-description PU Structured Shoulder Bag
            p.item-rate $89 
              span.old-price $130
              span.discount  (20% OFF)
      li 
        .list-item-container
          a(href="/")
            //- https://www.myntra.com/handbags/allen-solly/allen-solly-burgundy-solid-shoulder-bag/16957226/buy
            img(src="/images/bag6.webp", alt="")
            p.item-title Allen Solly
            p.item-description PU Structured Shoulder Bag
            p.item-rate $89 
              span.old-price $130
              span.discount  (20% OFF)
      li 
        .list-item-container
          a(href="/")
            //- https://www.myntra.com/handbags/allen-solly/allen-solly-burgundy-solid-pu-regular-bowling-handheld-bag/17246620/buy
            img(src="/images/bag7.webp", alt="")
            p.item-title Allen Solly
            p.item-description PU Structured Shoulder Bag
            p.item-rate $89 
              span.old-price $130
              span.discount  (20% OFF)
      li 
        .list-item-container
          a(href="/")
            //- https://www.myntra.com/handbags/allen-solly/allen-solly-white--pink-printed-handheld-bag/17331742/buy
            img(src="/images/bag8.webp", alt="")
            p.item-title Allen Solly
            p.item-description PU Structured Shoulder Bag
            p.item-rate $89 
              span.old-price $130
              span.discount  (20% OFF)
      li 
        .list-item-container
          a(href="/")
            //- https://www.myntra.com/handbags/van-heusen/van-heusen-tan-brown-textured-satchel/17642904/buy
            img(src="/images/bag9.webp", alt="")
            p.item-title Allen Solly
            p.item-description PU Structured Shoulder Bag
            p.item-rate $89 
              span.old-price $130
              span.discount  (20% OFF)
      li 
        .list-item-container
          a(href="/")
            //- https://www.myntra.com/handbags/van-heusen/van-heusen-navy-blue-textured-structured-satchel/17642994/buy
            img(src="/images/bag10.webp", alt="")
            p.item-title Allen Solly
            p.item-description PU Structured Shoulder Bag
            p.item-rate $89 
              span.old-price $130
              span.discount  (20% OFF)
      li 
        .list-item-container
          a(href="/")
            //- https://www.myntra.com/handbags/allen-solly/allen-solly-black-textured-pu-structured-tote-bag/17630344/buy
            img(src="/images/bag11.webp", alt="")
            p.item-title Allen Solly
            p.item-description PU Structured Shoulder Bag
            p.item-rate $89 
              span.old-price $130
              span.discount  (20% OFF)
      li 
        .list-item-container
          a(href="/")
            //- https://www.myntra.com/clutches/van-heusen/van-heusen-grey-envelope-clutch/17642742/buy
            img(src="/images/bag12.webp", alt="")
            p.item-title Allen Solly
            p.item-description PU Structured Shoulder Bag
            p.item-rate $89 
              span.old-price $130
              span.discount  (20% OFF)
      li 
        .list-item-container
          a(href="/")
            //- https://www.myntra.com/clutches/van-heusen/van-heusen-women-red-woven-design-box-clutch/17642762/buy
            img(src="/images/bag13.webp", alt="")
            p.item-title Allen Solly
            p.item-description PU Structured Shoulder Bag
            p.item-rate $89 
              span.old-price $130
              span.discount  (20% OFF)