extends layout 

block layout-content 
  h1.page-title Welcome! 
  //- https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/8/ca060c20-3c8d-44d6-b852-beaf3d0cf0a41652028231412-Handbags---Clutches_Desk.jpg
  img(src="/images/handbagAndClutches.webp")#main-image